body{
    white-space: nowrap;   
}
table{
    font-size: 60px;
    text-align: center;
}
table, th ,tr, td{
   border-collapse: collapse;
}
th{
    background-color: aqua; 
    padding: 30px;
    position: sticky;
    top: 0;
    left: 0;
}
tr:nth-child(even){
    background-color: lightgray;
}